In [1]:
import pandas as pd
import numpy as np

In [2]:
schools_data_path="Resources/schools_complete.csv"

In [3]:
students_data_path="Resources\\students_complete.csv"

In [4]:
schools_info=pd.read_csv(schools_data_path)
schools_info.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
District_school_budget=schools_info.loc[schools_info["type"] == "District",:]
District_school_budget

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
3           3  Hernandez High School  District  4635  3022020
7           7     Bailey High School  District  4976  3124928
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916

In [6]:
District_school_budget["budget"]= District_school_budget["budget"].astype(float)
District_school_budget

C:\Users\isanc\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    School ID            school_name      type  size     budget
0           0      Huang High School  District  2917  1910635.0
1           1   Figueroa High School  District  2949  1884411.0
3           3  Hernandez High School  District  4635  3022020.0
7           7     Bailey High School  District  4976  3124928.0
11         11  Rodriguez High School  District  3999  2547363.0
12         12    Johnson High School  District  4761  3094650.0
13         13       Ford High School  District  2739  1763916.0

In [7]:
District_school_budget["budget"].dtype

dtype('float64')

In [8]:
students_info=pd.read_csv(students_data_path)
students_info.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [9]:
combined_info=pd.merge(students_info,schools_info,on="school_name", how="outer")
combined_info.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
combined_info.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [11]:
# Retrive District Schools
District_schools=combined_info.loc[combined_info["type"]== "District",:]
District_schools.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
total_schools=len(District_schools["school_name"].unique())

total_schools

7

In [13]:
total_students=District_schools["student_name"].count()
total_students

26976

In [14]:
total_schools_budget= District_school_budget["budget"].sum()
total_schools_budget

17347923.0

In [15]:
# total_schools_budget_curr["budget"] = total_schools_budget.map("${:.1f}".format)
budget=17347923.0
'${:2f}'.format(budget)

'$17347923.000000'

In [16]:
Average_math_score=District_schools["math_score"].mean()
Average_math_score

76.98702550415184

In [17]:
Average_reading_score=District_schools["reading_score"].mean()
Average_reading_score

80.96248517200475

In [18]:
#%Passing Math
Passing_grade=70
Passing_math= District_schools[District_schools["math_score"]>70].count()["student_name"]
Passing_math
Percentage_passing_math=Passing_math/total_students *100
Percentage_passing_math

64.3053084223013

In [19]:
# Passing reading
Passing_grade=70
Passing_reading= District_schools[District_schools["reading_score"]>70].count()["student_name"]
Passing_reading
Percentage_passing_reading=Passing_reading/total_students *100
Percentage_passing_reading

78.36966192170819

In [20]:
#Overall Passing rate
Overall_passing=(Percentage_passing_math+Percentage_passing_reading)/2
Overall_passing

71.33748517200473

In [21]:
District_summary= pd.DataFrame({"Total schools":[total_schools],
                                "Total Students":[total_students],
                                "Total budget":[total_schools_budget],
                                "Average math score":[Average_math_score],
                                "Average reading score":[Average_reading_score],
                                "% passing-score":[Percentage_passing_math],
                                "% passing reading":[Percentage_passing_reading],
                                "Overall passing":[Overall_passing]
                                                
})
District_summary

,Total schools,Total Students,Total budget,Average math score,Average reading score,% passing-score,% passing reading,Overall passing
0,7,26976,17347923.0,76.987026,80.962485,64.305308,78.369662,71.337485

In [22]:
# PER SCHOUL REVIEW
total_schools=len(combined_info["school_name"].unique())

total_schools

15

In [23]:
info_byschool_group=combined_info.groupby(['type','school_name'])

info_byschool_group.count().head(20)

                                Student ID  student_name  gender  grade  \
type     school_name
Charter  Cabrera High School          1858          1858    1858   1858
         Griffin High School          1468          1468    1468   1468
         Holden High School            427           427     427    427
         Pena High School              962           962     962    962
         Shelton High School          1761          1761    1761   1761
         Thomas High School           1635          1635    1635   1635
         Wilson High School           2283          2283    2283   2283
         Wright High School           1800          1800    1800   1800
District Bailey High School           4976          4976    4976   4976
         Figueroa High School         2949          2949    2949   2949
         Ford High School             2739          2739    2739   2739
         Hernandez High School        4635          4635    4635   4635
         Huang High School            2917          2917    2917   2917
         Johnson High School          4761          4761    4761   4761
         Rodriguez High School        3999          3999    3999   3999

                                reading_score  math_score  School ID  size  \
type     school_name
Charter  Cabrera High School             1858        1858       1858  1858
         Griffin High School             1468        1468       1468  1468
         Holden High School               427         427        427   427
         Pena High School                 962         962        962   962
         Shelton High School             1761        1761       1761  1761
         Thomas High School              1635        1635       1635  1635
         Wilson High School              2283        2283       2283  2283
         Wright High School              1800        1800       1800  1800
District Bailey High School              4976        4976       4976  4976
         Figueroa High School            2949        2949       2949  2949
         Ford High School                2739        2739       2739  2739
         Hernandez High School           4635        4635       4635  4635
         Huang High School               2917        2917       2917  2917
         Johnson High School             4761        4761       4761  4761
         Rodriguez High School           3999        3999       3999  3999

                                budget
type     school_name
Charter  Cabrera High School      1858
         Griffin High School      1468
         Holden High School        427
         Pena High School          962
         Shelton High School      1761
         Thomas High School       1635
         Wilson High School       2283
         Wright High School       1800
District Bailey High School       4976
         Figueroa High School     2949
         Ford High School         2739
         Hernandez High School    4635
         Huang High School        2917
         Johnson High School      4761
         Rodriguez High School    3999

In [24]:
byschool_total_students=info_byschool_group["student_name"].count()

byschool_total_students

type      school_name
Charter   Cabrera High School      1858
          Griffin High School      1468
          Holden High School        427
          Pena High School          962
          Shelton High School      1761
          Thomas High School       1635
          Wilson High School       2283
          Wright High School       1800
District  Bailey High School       4976
          Figueroa High School     2949
          Ford High School         2739
          Hernandez High School    4635
          Huang High School        2917
          Johnson High School      4761
          Rodriguez High School    3999
Name: student_name, dtype: int64

In [25]:
# ['budget']= info_byschool_group["budget"].astype(float)

In [26]:
byschool_total_budget= info_byschool_group["budget"].sum()
byschool_total_budget

type      school_name
Charter   Cabrera High School       2009159448
          Griffin High School       1346890000
          Holden High School         105933149
          Pena High School           563595396
          Shelton High School       1860672600
          Thomas High School        1705517550
          Wilson High School        3012587442
          Wright High School        1888920000
District  Bailey High School       15549641728
          Figueroa High School      5557128039
          Ford High School          4831365924
          Hernandez High School    14007062700
          Huang High School         5573322295
          Johnson High School      14733628650
          Rodriguez High School    10186904637
Name: budget, dtype: int64

In [27]:
Perstudent_budget=byschool_total_budget/byschool_total_students
Perstudent_budget

type      school_name
Charter   Cabrera High School      1081356.0
          Griffin High School       917500.0
          Holden High School        248087.0
          Pena High School          585858.0
          Shelton High School      1056600.0
          Thomas High School       1043130.0
          Wilson High School       1319574.0
          Wright High School       1049400.0
District  Bailey High School       3124928.0
          Figueroa High School     1884411.0
          Ford High School         1763916.0
          Hernandez High School    3022020.0
          Huang High School        1910635.0
          Johnson High School      3094650.0
          Rodriguez High School    2547363.0
dtype: float64

In [28]:
Average_Math_Score=info_byschool_group["math_score"].mean()
Average_Math_Score

type      school_name
Charter   Cabrera High School      83.061895
          Griffin High School      83.351499
          Holden High School       83.803279
          Pena High School         83.839917
          Shelton High School      83.359455
          Thomas High School       83.418349
          Wilson High School       83.274201
          Wright High School       83.682222
District  Bailey High School       77.048432
          Figueroa High School     76.711767
          Ford High School         77.102592
          Hernandez High School    77.289752
          Huang High School        76.629414
          Johnson High School      77.072464
          Rodriguez High School    76.842711
Name: math_score, dtype: float64

In [29]:
Average_Reading_Score=info_byschool_group["reading_score"].mean()
Average_Reading_Score

type      school_name
Charter   Cabrera High School      83.975780
          Griffin High School      83.816757
          Holden High School       83.814988
          Pena High School         84.044699
          Shelton High School      83.725724
          Thomas High School       83.848930
          Wilson High School       83.989488
          Wright High School       83.955000
District  Bailey High School       81.033963
          Figueroa High School     81.158020
          Ford High School         80.746258
          Hernandez High School    80.934412
          Huang High School        81.182722
          Johnson High School      80.966394
          Rodriguez High School    80.744686
Name: reading_score, dtype: float64

In [30]:
#Passing_grade=70
#Passing_Math= info_byschool_group[info_byschool_group["math_score"]>70].count()["student_name"]
#Passing_Math
#Percentage_Passing_Math=(Passing_Math/byschool_total_students)*100
#Percentage_Passing_Math

In [31]:
# Passing reading
#Passing_grade=70
#Passing_Reading= info_byschool_group[info_byschool_group["reading_score"]>70].count()["student_name"]
#Passing_Reading
#Percentage_Passing_Reading=(Passing_Reading/byschool_total_students) *100
#Percentage_Passing_Reading

In [32]:
#Bottom Performing Schools/Passing rate

In [35]:
bygrade_group=combined_info.groupby(["school_name","grade"])
bygrade_group.count().head(10)

                            Student ID  student_name  gender  reading_score  \
school_name          grade
Bailey High School   10th         1239          1239    1239           1239
                     11th         1251          1251    1251           1251
                     12th         1028          1028    1028           1028
                     9th          1458          1458    1458           1458
Cabrera High School  10th          466           466     466            466
                     11th          482           482     482            482
                     12th          382           382     382            382
                     9th           528           528     528            528
Figueroa High School 10th          763           763     763            763
                     11th          709           709     709            709

                            math_score  School ID  type  size  budget
school_name          grade
Bailey High School   10th         1239       1239  1239  1239    1239
                     11th         1251       1251  1251  1251    1251
                     12th         1028       1028  1028  1028    1028
                     9th          1458       1458  1458  1458    1458
Cabrera High School  10th          466        466   466   466     466
                     11th          482        482   482   482     482
                     12th          382        382   382   382     382
                     9th           528        528   528   528     528
Figueroa High School 10th          763        763   763   763     763
                     11th          709        709   709   709     709

In [36]:
#MATH SCORE BY GRADE
Average_Math_Score=bygrade_group["math_score"].mean()
Average_Math_Score

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64